
/* All */

* {font-family: sans-serif;}
h5 {font-size: 225%; }
h4 {margin-top: 0px;padding-bottom: 7.5px;}
h3 {margin-bottom: 0px; font-size: 125%;}
h1 {font-size: 600%; margin-bottom: 0; margin-top: 0; margin-left: 0;}
pre {margin: 0; padding: 0;}
video {object-fit:contain; padding-top: 10px; padding-bottom: 2.0%; display: grid;}



/* Nav buttons */

.dropdownNav{
    background-color: rgb(187, 187, 187);
    margin-left: 720px;
    
    position:absolute;
    display:inline-block;
    
}
    .dropdownButtonNav{
        font-size: 24px;
        padding: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
        border: 0;
        cursor:pointer;
        
        
    }
        .dropdownButtonNav:hover, .dropdownButtonNav:focus{
            background-color: #d3d3fd;
            
        
        }
            .dropdownContent{
                display: none;
                position: fixed;
                margin-bottom: 100px;
                max-width: fit-content;
                /* text-wrap: inherit; */
                
            }
            .show{
                position: absolute;
                display: grid;
                margin-top: 2.5px;
                
                /* height: 50px; */
                /* width: 250px; */
                /* text-indent: -100px; */
                
                
                
            }
.navLink{
    scale: 85%;
    background-color: rgb(236, 236, 236);
    margin-bottom: 2.5px;
    border-radius: 10px;
    padding-left: 5px;
}



/* Random */

.mainDiv{
    background-color: rgb(187, 187, 187);
}
